

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin-top: 100px;
}
.card{
    width: 300px;
    margin: 10px;
    float: left;
    border: 1px solid black;
 
    
}
.intro{
    font-size: 12px;
    margin: 10px;
}
.price{
    color: red;
    font-size: 25px;
    font-weight: 500;
}
.heading{
    text-align: center;
    padding-top: 20px;
    
}
.button1{
    padding: 10px 20px;
    margin: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 50px;
    color: white;
    cursor: pointer;

}
.button1:hover{
    background-color: #fff;
    color: black;
}
.price-rating{
    display: flex;
    justify-content: space-around;

}